<html>
     <head>Welcome to {{greet_message}} !!!!<head>
     <body>
            <hl>Provisioned by {{provisoner_tool}}</h1>
            <hl>Automation by {{automation_tool}}</h1>
     </body>
</html>       
